# IDE-related
.idea
.DS_Store
.vscode/*
**/.history

# Python cache
__pycache__/

# Jupyter
notebooks/.ipynb_checkpoints
notebooks/.~lock.data.csv#
notebooks/data

# pycache
dm_core/__pycache__
nlu_core/__pycache__

# speechRecognition
media/chat_**

# data
data/.~__pycache__
data/.~lock.data.csv#
data/*.log